* {
    margin:0;
    padding:0;
}
html {
    font-size:62.5%;
}
body {
    font-family: 'Red Hat Display', sans-serif;
    color:#494a4a;
}
.title {
    color:#1c1d1d;
}
a {
    text-decoration:none;
}

/* header */
header {
    background-color:#fff;
    display:flex;
    justify-content:center;
    box-shadow:0 2px 6px 0 rgba(0,0,0,.2);
}
header .container {
    display:flex;
    width:1108px;
    height:80px;
    align-items:center;
}
.logo {
    margin-right:51px;
}
nav.header-menu ul li {
    list-style:none;
    display:inline-block;
}
nav.header-menu ul li a {
    text-decoration:none;
    color:#1c1d1d;
    font-size:1.6rem;
    margin-right:32px;
    transition:all .5s;
}
nav.header-menu ul li a:hover {
    color:#00aa13;
}

/* banner */
.banner {
    background-image: url(http://gojek.test/images/banner.jpg);
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    height:556px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.banner .container {
    width:1108px;
}
.banner-text h1 {
    font-size:5rem;
    line-height:6rem;
    color:white;
    /* letter-spacing:0.1rem; */
}
.banner-text h3 {
    font-size:2.8rem;
    font-style:italic;
    color:#f0b323;
    margin-top:2.4rem;
    margin-bottom:3.2rem;
}
.banner-text span {
    font-size:5.2rem;
    display:block;
}
.banner-button {
    background-color:rgba(0,0,0,.35);
    padding:10px 30px;
    border-radius:20px;
    border:0;
    font-weight:bold;
    font-size:1.6rem;
    color:white;
    cursor:pointer;
}